{% extends 'base.html.twig' %}

{% block title %}Liste des devis{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('gestion')}}">Gestion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste complète</li>
        </ol>
</nav>
    <h1>Liste des devis</h1>

    <div class="d-flex justify-content-evenly align-items-center col-10 mt-5">
        {# Recherche #}
        <div class="col-3">
            {{ form(form) }}
        </div>
        <div class="col-3">
            <a href="{{ path('devis_new') }}" class="btn_menu">New</i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card text-center col-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>NumeroDevis</th>
                        <th>DateCreation</th>
                        <th>Entreprise</th>
                        <th>Nom contact</th>
                        {# ANCHOR <th>Formation</th> #}
                        <th>Methode</th>
                        <th>Ville</th>
                        <th>DateDebut</th>
                        <th>DateFin</th>
                        <th>Duree en heures</th>
                        <th>NbrParticipants</th>
                        {#ANCHOR <th>Tarif formation</th> #}
                        <th>FraisAnnexes</th>
                        <th>Tva</th>
                        <th>Cout total</th>
                        <th>Statut</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for devi in devis %}
                    <tr>
                        <td>{{ devi.numeroDevis }}</td>
                        <td>{{ devi.dateCreation ? devi.dateCreation|date('Y-m-d ') }}</td>
                        <td>{{devi.client.entreprise}}</td>
                        <td>{{devi.client}}</td>
                         {# ANCHOR<td>{{devi.formation}}</td> #}
                        <td>
                        {% if devi.methode == 1 %}
                            Distanciel
                        {% elseif devi.methode == 2 %}
                            Présenciel
                        {% else %}
                            Distanciel et présenciel
                        {% endif %}
                        </td>
                        <td>{{ devi.client.ville }}</td>
                        <td>{{ devi.dateDebut ? devi.dateDebut|date('Y-m-d ') }}</td>
                        <td>{{ devi.dateFin ? devi.dateFin|date('Y-m-d ') }}</td>
                        <td>{{ devi.dureeH }}</td>
                        <td>{{ devi.nbrParticipants }}</td>
                        {#ANCHOR <td>{{devi.formation.prix}}</td> #}
                        <td>{{ devi.fraisAnnexes }}</td>
                        <td>{{ devi.tva }}</td>
                        <td>prix.formation x nbr.participants + frais annexes</td>
                        <td>
                        {% if devi.statut == 0 %}
                            <span class="badge bg-info text-dark">En cours</span>
                        {% elseif devi.statut == 1 %}
                            <span class="badge bg-success text-dark">Accepté</span>
                        {% else %}
                            <span class="badge bg-danger text-dark">Rejeté</span>
                        {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('devis_show', {'id': devi.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye"></i></a>
                            <a href="{{ path('devis_edit', {'id': devi.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit"></i></a>
                            <a href="#"data-bs-toggle="tooltip" title="générer PDF"><i class="far fa-file-pdf"></i></a>
                            <a href="#"data-bs-toggle="tooltip" title="transformer en facture"><i class="far fa-copy"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
