{% extends 'base.html.twig' %}

{% block title %}Liste Client {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item active" aria-current="page">Liste complète</li>
    </ol>
    </nav>
    <h1>Liste des Clients</h1>

    {# Recherche #}
    <div class="d-flex justify-content-evenly align-items-center col-10 mt-5">
        <div class="col-3">
            {{ form(form) }}
        </div>
        <div class="col-3">
            <a href="{{ path('prospects_newClients') }}" class="btn_menu">New</i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card text-center col-10">
            <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Site</th>
                <th>Entreprise</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
        {% if prospect.role == 1 %}
            <tr>
                <td>
                {% if prospect.statut == 1%}
                Entreprise
                {% else %}
                particulier
                {% endif %}
                </td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.mail }}</td>
                <td>{{ prospect.tel }}</td>
                <td>{{ prospect.adresse }}</td>
                <td>{{ prospect.codePostal }}</td>
                <td>{{ prospect.ville }}</td>
                <td>{{ prospect.site }}</td>
                <td>{{ prospect.entreprise }}</td>
                <td>{{ prospect.commentaire }}</td>
                <td>
                    <a href="{{ path('prospects_showClients', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="fas fa-eye"></i></i></a>
                    <a href="{{ path('prospects_editClients', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="fas fa-user-edit"></i></a>
                    <a href="#"data-bs-toggle="tooltip" title="créer le devis"><i class="fas fa-edit"></i></a>
                </td>
            </tr>


        {% endif %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
