{% extends 'base.html.twig' %}

{% block title %}Liste Prospects {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item active" aria-current="page">Liste complète</li>
    </ol>
    </nav>
    <h1>Liste des prospects</h1>

    {# Recherche #}
    <div class="d-flex justify-content-evenly align-items-center col-10 mt-5">
        <div class="col-3">
            {{ form(form) }}
        </div>
        <div class="col-3">
            <a href="{{ path('prospects_new') }}" class="btn_menu">New</i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card text-center col-10">
            <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Site</th>
                <th>Entreprise</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
        {% if prospect.role == 0 %}
            <tr>
                <td>
                {% if prospect.statut == 1%}
                Entreprise
                {% else %}
                particulier
                {% endif %}
                </td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.mail }}</td>
                <td>{{ prospect.tel }}</td>
                <td>{{ prospect.adresse }}</td>
                <td>{{ prospect.codePostal }}</td>
                <td>{{ prospect.ville }}</td>
                <td>{{ prospect.site }}</td>
                <td>{{ prospect.entreprise }}</td>
                <td>{{ prospect.commentaire }}</td>
                <td>
                    <a href="{{ path('prospects_show', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="voir"><button type="button" class="btn"><i class="far fa-eye"></i></button></a>
                    <a href="{{ path('prospects_edit', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit"></i></button></a>
                    <a href="#"data-bs-toggle="tooltip" title="créer le devis"><button type="button" class="btn"><i class="fas fa-edit"></i></button></a>
                    {# ANCHOR MIGRATION prospect->client ajouter un modal  #}
                    <a href="{{ path('prospects_migration',{'id': prospect.id})}}"data-bs-toggle="tooltip" title="migrer en client"><button type="button" class="btn"><i class="fas fa-user-plus"></i></button></a>
                    
                    {# <button type="button" class="btn" data-bs-toggle="modal tooltip" title="Migrer en client" data-bs-target="#exampleModal">
                    <i class="fas fa-user-plus"></i>
                    </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    Souhaitez vous enregistrer {{prospect.nom}} {{prospect.prenom}} comme client?
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('prospects_migration',{'id': prospect.id})}}"><button type="button" class="btn btn-primary">Oui</button></a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                </div>
                                </div>
                            </div>
                        </div> #}
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>



 {% block javascripts %}
    <script>

    </script> 
{% endblock %}
{% endblock %}
