{% extends 'base.html.twig' %}

{% block title %}Liste Prospects {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item active" aria-current="page">Liste complète</li>
    </ol>
    </nav>
    <h1>Liste des prospects</h1>

    {# Recherche #}
    <div class="d-flex justify-content-evenly align-items-center col-10 mt-5">
        <div class="col-3">
            {{ form(form) }}
        </div>
        <div class="col-3">
            <a href="{{ path('prospects_new') }}" class="btn_menu">New</i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card text-center col-10">
            <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Site</th>
                <th>Entreprise</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
        {% if prospect.role == 0 %}
            <tr>
                <td>
                {% if prospect.statut == 1%}
                Entreprise
                {% else %}
                particulier
                {% endif %}
                </td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.mail }}</td>
                <td>{{ prospect.tel }}</td>
                <td>{{ prospect.adresse }}</td>
                <td>{{ prospect.codePostal }}</td>
                <td>{{ prospect.ville }}</td>
                <td>{{ prospect.site }}</td>
                <td>{{ prospect.entreprise }}</td>
                <td>{{ prospect.commentaire }}</td>
                <td>
                    <!-- Full screen modal -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1"data-bs-toggle="tooltip" title="migrer en client">
                    <i class="far fa-eye"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Fiche prospect</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body">
                                        <h1>{{prospect.nom}} {{prospect.prenom}}</h1>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>Statut</th>
                                                    <td>
                                                    {% if prospect.statut == 1 %}
                                                    Entreprise
                                                    {% else %}
                                                    Particulier
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Nom</th>
                                                    <td>{{ prospect.nom }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Prenom</th>
                                                    <td>{{ prospect.prenom }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Mail</th>
                                                    <td>{{ prospect.mail }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Tel</th>
                                                    <td>{{ prospect.tel }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Adresse</th>
                                                    <td>{{ prospect.adresse }}</td>
                                                </tr>
                                                <tr>
                                                    <th>CodePostal</th>
                                                    <td>{{ prospect.codePostal }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ville</th>
                                                    <td>{{ prospect.ville }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Site</th>
                                                    <td>{{ prospect.site }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"data-bs-toggle="tooltip" title="migrer en client">
                                        <i class="fas fa-user-plus"></i>
                                        </button>
                                        <a href="#"data-bs-toggle="tooltip" title="créer le devis"><button type="button" class="btn"><i class="fas fa-edit"></i></button></a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Transformer en client</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                                                        aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Souhaitez vous confirmer la migration du prospect {{prospect.nom}} {{prospect.prenom}} en client?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        <a href="{{ path('prospects_migration',{'id': prospect.id})}}"data-bs-toggle="tooltip" title="migrer en client"><button type="button" class="btn btn-success">Oui</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ path('prospects_edit', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit"></i></button></a>
                                        {{ include('prospects/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {# fin test #}
                    <a href="{{ path('prospects_edit', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit"></i></button></a>
                    <a href="#"data-bs-toggle="tooltip" title="créer le devis"><button type="button" class="btn"><i class="fas fa-edit"></i></button></a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"data-bs-toggle="tooltip" title="migrer en client">
                    <i class="fas fa-user-plus"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Transformer en client</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Souhaitez vous confirmer la migration du prospect {{prospect.nom}} {{prospect.prenom}} en client?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <a href="{{ path('prospects_migration',{'id': prospect.id})}}"data-bs-toggle="tooltip" title="migrer en client"><button type="button" class="btn btn-success">Oui</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    <script>
        var popover = new bootstrap.Popover(document.querySelector('.example-popover'), {
  container: 'body'
})
    </script> 
{% endblock %}

