{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('formation')}}">Formation</a></li>
        <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fiche formation</li>
    </ol>
    </nav>
    <h1>{{formation.titre}}</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Titre</th>
                <td>{{ formation.titre }}</td>
            </tr>
            <tr>
                <th>PrixJour</th>
                <td>{{ formation.prixJour }}</td>
            </tr>
            <tr>
                <th>Programme</th>
                <td>{{ formation.programme }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ formation.niveau }}</td>
            </tr>
            <tr>
                <th>Rubrique</th>
                <td>{{ formation.rubrique }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formations_index') }}">Retour</a>

    <a href="{{ path('formations_edit', {'id': formation.id}) }}">Modifier</a>

    {{ include('formations/_delete_form.html.twig') }}
{% endblock %}
