{% extends 'base.html.twig' %}

{% block title %}Modifier Formateurs{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('formateurs_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modification</li>
    </ol>
</nav>
    <h1>Modification des informations {{formateur.nom}} {{formateur.prenom}}</h1>

    {{ include('formateurs/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('formateurs_index') }}">Retour</a>

    {{ include('formateurs/_delete_form.html.twig') }}
{% endblock %}
