{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}
    <h1>Liste des formateurs</h1>
{# Recherche #}
    <div class="d-flex justify-content-evenly align-items-center col-10 mt-5">
        <div class="col-3">
            {{ form(form) }}
        </div>
        <div class="col-3">
            <a href="{{ path('formateurs_new') }}" class="btn_menu">New</i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card text-center col-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>DenominationSociale</th>
                        <th>Siret</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Mail</th>
                        <th>Tel</th>
                        <th>Adresse</th>
                        <th>CodePostal</th>
                        <th>Ville</th>
                        <th>Tva</th>
                        <th>Formations</th>
                        <th>Methode</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for formateur in formateurs %}
                    <tr>
                        <td>{{ formateur.denominationSociale }}</td>
                        <td>{{ formateur.siret }}</td>
                        <td>{{ formateur.nom }}</td>
                        <td>{{ formateur.prenom }}</td>
                        <td>{{ formateur.mail }}</td>
                        <td>{{ formateur.tel }}</td>
                        <td>{{ formateur.adresse }}</td>
                        <td>{{ formateur.codePostal }}</td>
                        <td>{{ formateur.ville }}</td>
                        <td>{{ formateur.tva }}</td>
                        <td>
                        {% for formations in formateur.formations %}
                        {{ formations.titre }}
                        {% endfor %}
                        </td>
                        <td>
                        {% if formateur.methode == 1 %}
                        Distanciel
                        {% elseif formateur.methode == 2 %}
                        Présenciel
                        {% else %}
                        Distanciel & Présenciel
                        {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('formateurs_show', {'id': formateur.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye"></i></a>
                            <a href="{{ path('formateurs_edit', {'id': formateur.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit"></i></a>
                            <a href="{{ path('formateurs_edit', {'id': formateur.id}) }}"data-bs-toggle="tooltip"  title="document"><i class="far fa-file-alt"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
