{% extends 'base.html.twig' %}

{% block title %}Formateurs{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('formateurs_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fiche formateur</li>
    </ol>
</nav>
    <h1>{{formateur.nom}} {{formateur.prenom}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>DenominationSociale</th>
                <td>{{ formateur.denominationSociale }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ formateur.siret }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ formateur.mail }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ formateur.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ formateur.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ formateur.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ formateur.ville }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ formateur.tva }}</td>
            </tr>
            <tr>
                <th>Formations</th>
                <td>
                {% for formations in formateur.formations %}
                {{ formations.titre }}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Methode</th>
                  <td>
                        {% if formateur.methode == 1 %}
                        Distanciel
                        {% elseif formateur.methode == 2 %}
                        Présenciel
                        {% else %}
                        Distanciel & Présenciel
                        {% endif %}
                        </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formateurs_index') }}">Retour</a>

    <a href="{{ path('formateurs_edit', {'id': formateur.id}) }}">Modifier</a>

    {{ include('formateurs/_delete_form.html.twig') }}
{% endblock %}
