{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active mt-2" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card text-center col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('contact_entreprise')}}">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_opco')}}">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Derniers clients</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Entreprise</th>
                            <th scope="col">Nom Contact</th>
                            <th scope="col">Prenom Contact</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Télephone</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Code postal</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Site</th>
                            {# <th scope="col">Mail</th>
                            <th scope="col">Teléphone</th>
                             #}
                            <th scope="col">Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for prospect in prospects %}
                                {% if prospect.role == 1 %}
                                    <tr>
                                        <th scope="row">{{prospect.entreprise}}</th>
                                        <td>{{prospect.nom}}</td>
                                        <td>{{prospect.prenom}}</td>
                                        <td>{{prospect.mail}}</td>
                                        <td>{{prospect.tel}}</td>
                                        <td>{{prospect.adresse}}</td>
                                        <td>{{prospect.codePostal}}</td>
                                        <td>{{prospect.ville}}</td>
                                        <td>{{prospect.site}}</td>
                                        <td><a href="{{ path('prospects_showClients', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="fas fa-eye"></i></i></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{path('clients_index')}}" class="btn btn-primary">Liste complète</a>
                </div>
            </div>
    </div>

{% endblock %}
