{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card text-center col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_client')}}">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_opco')}}">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dernieres entreprises</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                        
                            <tr>
                            <th scope="col">Dénomination Sociale</th>
                            <th scope="col">Siren</th>
                            <th scope="col">Nom du contact</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Tél</th>
                            <th scope="col">Activité</th> 
                            <th scope="col">Commentaire</th> 
                            <th scope="col">Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% for entreprise in entreprise %}
                            <tr>
                            <th scope="row">{{ entreprise.denominationSociale}}</th>
                            <td>{{entreprise.siren}}</td>
                            <td>{{entreprise.nom}}</td>
                            <td>{{entreprise.mail}}</td>
                            <td>{{entreprise.tel}}</td>
                            <td>{{entreprise.activite}}</td>
                            <td>{{entreprise.commentaire}}</td>
                            <td><i class="fas fa-eye"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('entreprise_index')}}" class="btn btn-primary">Liste complète</a>
                </div>
            </div>
    </div>

{% endblock %}
